<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="form-container">
    <h2>Login Here</h2>
    <form action="/login" method="POST">
      <input type="email" name="email" placeholder="Enter Email" required>
      <input type="password" name="password" placeholder="Enter Password" required>
      <button type="submit">login</button>
    </form>
    <p>Don’t have an account? <a href="/register">Signup</a></p>
  </div>
</body>
</html>
